<nav class="navbar navbar-expand-md site-navbar sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="/listings" aria-label="Wanderlust home">
      <i class="fa-brands fa-airbnb brand-icon" aria-hidden="true"></i>
    </a>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#mainNav"
      aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">

      <div class="navbar-nav">
        <a class="nav-link nav-explore" href="/listings">Explore</a>
      </div>

      <form class="d-flex navbar-search-form" role="search" action="/listings/search" method="GET">
        <input class="form-control search-inp" type="search" name="q"
          placeholder="Search destinations" aria-label="Search destinations" />
        <button class="btn search-btn" type="submit" aria-label="Search">
          <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
          <span class="search-label">Search</span>
        </button>
      </form>

      <div class="navbar-actions">
        <a class="nav-host-btn" href="/listings/new">
          <i class="fa-solid fa-plus me-1" aria-hidden="true"></i>
         <span class="host-label-full">Become a Host</span>
          <span class="host-label-short">Host</span>
        </a>

        <% if (currUser) { %>
          <form action="/logout" method="POST" class="m-0 p-0">
            <button type="submit" class="nav-logout-btn">
              <i class="fa-solid fa-right-from-bracket me-1" aria-hidden="true"></i>Log out
            </button>
          </form>
        <% } else { %>
          <a class="nav-auth-link" href="/login">Log in</a>
          <a class="nav-auth-link signup" href="/signup">Sign up</a>
        <% } %>
      </div>

    </div>
  </div>
</nav>
